img{
    width: 400px;
}
.title{
    color: #4D869C;
}
.desc{
    color: #7AB2B2;
}
.category{
    width: fit-content;
    padding: 5px 50px;
    background-color: #7AB2B2;
    color: #fff;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: #4D869C;
}


/* spinner */
.spin{
    height: 50vh;
}
.loader {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background: #4D869C;
    animation: wave 1s ease-in infinite;
  }
  
  @keyframes wave {
   0% {  box-shadow:
    0 0 0 0px rgba(77, 134,156, 1),
    0 0 0 20px rgba(77, 134,156, 0.2),
    0 0 0 40px rgba(77, 134,156, 0.6),
    0 0 0 60px rgba(77, 134,156, 0.4),
    0 0 0 80px rgba(77, 134,156, 0.2)
    }
    100% {  box-shadow:
      0 0 0 80px rgba(77, 134,156, 0),
      0 0 0 60px rgba(77, 134,156, 0.2),
      0 0 0 40px rgba(77, 134,156, 0.4),
      0 0 0 20px rgba(77, 134,156, 0.6),
      0 0 0 0px rgba(77, 134,156, 1)
    }
  }
  
  